<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <title>Relatório Appsupply</title>
  </head>
  <body>
    <h1 style="text-align: center">Relatório Mensal <span id="data"></span></h1>
    <figure class="highcharts-figure">
      <div id="notification"></div>
    </figure>
    <script>
      const dia = document.getElementById("data");
      dia.append(
        new Date()
          .toLocaleDateString("pt-BR", {
            day: "2-digit",
            month: "2-digit",
            year: "numeric",
          })
          .replace(/\//g, "-")
      );
      Highcharts.chart("notification", {
        chart: {
          type: "column",
        },
        title: {
          text: "HISTÓRICO DE NOTIFICAÇÕES",
        },
        subtitle: {
          text: "ENVIADAS PARA O USUÁRIO",
        },
        xAxis: {
          categories: ["14/03/2022", "15/03/2022", "16/03/2022", "17/03/2022"],
        },
        yAxis: {
          min: 0,
          title: {
            text: "Qtd de notificações enviadas",
          },
        },
        tooltip: {
          pointFormat:
            '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
          shared: true,
          footerFormat: "<br/><b>Total:  {point.total} </b>",
        },
        plotOptions: {
          column: {
            stacking: "number",
          },
        },
        series: [
          {
            name: "WhatsApp",
            data: [5, 3, 4, 7],
          },
          {
            name: "App",
            data: [5, 5, 4, 3],
          },
          {
            name: "SMS",
            data: [2, 2, 3, 2],
          },
        ],
      });
    </script>
  </body>
</html>
